<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example XCRUD</title>

    <link rel="stylesheet" href="{{ base_url() }}/asset/css/bootstrap.min.css">
  </head>
  <body>
    <div class="page-header">
      <div class="container">Example XCRUD</div>
    </div>
    <div class="container">
        {{ xcrud.render()|raw }}
    </div>
  </body>
</html>
